.img-responsive{
    border-radius: 14px;
    width: 96%;
    margin-left: 5rem;
}
.info-post{
    margin-left: 5rem;
}

.info-post h3{
    font-size: 33px;
    text-align: left;
    font-weight: bold;
    width: 69%;
    line-height: 1.2;
   
}

.info-post h3 a{
    color: #04224e;
    text-decoration: none;
}

.category-name{
    padding: 11px 23px;
    border-radius: 5px;
    background: #e2ddff !important;
    color:  #a189d8;
    font-size: 14px;
    font-weight: bold;    align-items: center;
    margin-bottom: 14px;

}

.truncate{
    width: 385px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.profile-img{
    
    width: 8%;
    border-radius: 14px;
    height: 41px;
}

.profile-info span{
    margin-left: 1rem;
    font-weight: 600;
    font-size: 15px;
}