.img-responsive{
    border-radius: 22px;
    width: 96%;
    margin-left: 5rem;
}
.info-post{
    margin-left: 5rem;
}

.info-post h3{
    font-size: 37px;
    text-align: left;
    font-weight: bold;
    width: 68%;
    line-height: 1.3;
    color: #031838;
}

.info-post h3 a{
    color: #04224e;
    text-decoration: none;
}

.category-name{
    padding: 11px 23px;
    border-radius: 5px;
    background: #e2ddff !important;
    color:  #a189d8;
    font-size: 14px;
    font-weight: bold;
    margin-right: 35rem;
    align-items: center;
    margin-bottom: 14px;

}