nav {
  background-color: white !important;
  box-shadow: 0px 2px 12px 7px #dadada;
}

.navbar-brand {
  position: relative;
  left: 23rem;
  color: #C3A26B !important;
  font-weight: bold;

}
.navbar-nav{
  width: 107%;

}
.nav-item {
  padding: 13px 22px;
}
.nav-item a {

font-weight: 500;
  color: #000;
  text-decoration: none;
}

.dashboard {
  background: #084298 !important;
  border: 2px solid #084298;
  border-radius: 38px;
  padding: 7px 31px !important;
  color: #fff !important;
}
.dashboard:focus,
.dashboard:hover {
  color: #084298 !important;
  background: transparent !important;
  border: 2px solid #084298;
}
